nav.navbar {
  opacity:90%;
}
a.footerlink {
  color:white;
}
a.footerlink:hover {
  text-decoration: underline;
}
h2 {
  color:white;
}
a.navbaritem {
  color:white;
}
a.navbaritem:hover {
}
